// NET "i_BTN" LOC = "E3";
// NET "i_RST" LOC = "E4";
NET "*" IOSTANDARD = LVCMOS33;


NET "i_CLK" LOC = "P55";
NET "o_LED1N" LOC = "P44";
NET "o_LED2N" LOC = "P43";
NET "o_LED3N" LOC = "P41";
NET "o_LED4N" LOC = "P40";
NET "o_LED1P" LOC = "P45";
NET "o_LED2P" LOC = "P46";


# #NET "i_MISO4" LOC = "P101";
# NET "i_MISO4" LOC = "P84";

# NET "i_MISO3" LOC = "P98";
# NET "i_MISO2" LOC = "P97";
# #NET "i_MISO1" LOC = "P84";
# NET "i_MISO1" LOC = "P101";

# NET "o_SCLK" LOC = "P105";
# NET "o_SCLK" SLEW = SLOW;
# NET "o_SCLK" DRIVE = 4;
NET "o_MOSI" LOC = "P102";
NET "i_OCLK" LOC = "P123";


NET "o_FSMC_AD[0]" LOC = "P134";
NET "o_FSMC_AD[1]" LOC = "P133";
NET "o_FSMC_AD[2]" LOC = "P114";
NET "o_FSMC_AD[3]" LOC = "P112";
NET "o_FSMC_NE" LOC = "P119";
NET "o_FSMC_NOE" LOC = "P116";
NET "o_FSMC_NOE" CLOCK_DEDICATED_ROUTE = FALSE;
NET "o_FSMC_NWE" LOC = "P117";
NET "o_FSMC_NWE" CLOCK_DEDICATED_ROUTE = FALSE;
NET "o_FSMC_NADV" LOC = "P111";
NET "o_FSMC_NADV" CLOCK_DEDICATED_ROUTE = FALSE;
NET "o_FSMC_CLK" LOC = "P115";
NET "o_FSMC_CLK" CLOCK_DEDICATED_ROUTE = FALSE;
NET "o_FSMC_NWAIT" LOC = "P118";

NET "o_PSRAM_CE" LOC = "P56";
NET "o_PSRAM_CLK" LOC = "P61";
NET "PSRAM_SIO[0]" LOC = "P59";
NET "PSRAM_SIO[1]" LOC = "P57";
NET "PSRAM_SIO[2]" LOC = "P58";
NET "PSRAM_SIO[3]" LOC = "P62";
# NET "o_OUTPUT[7]" LOC = "P133";
# NET "o_OUTPUT[6]" LOC = "P134";
# NET "o_OUTPUT[5]" LOC = "P137";
# NET "o_OUTPUT[4]" LOC = "P138";
# NET "o_OUTPUT[3]" LOC = "P139";
# NET "o_OUTPUT[2]" LOC = "P140";
# NET "o_OUTPUT[1]" LOC = "P141";
# NET "o_OUTPUT[0]" LOC = "P142";

# NET "o_OUTPUT2[0]" LOC = "P114";
# NET "o_OUTPUT2[1]" LOC = "P112";
# NET "o_OUTPUT2[2]" LOC = "P111";
# NET "o_OUTPUT2[3]" LOC = "P115";
# NET "o_OUTPUT2[4]" LOC = "P116";
# NET "o_OUTPUT2[5]" LOC = "P117";
# NET "o_OUTPUT2[6]" LOC = "P118";
# NET "o_OUTPUT2[7]" LOC = "P119";

NET "o_RDY" LOC = "P124";

// Parallel output
# NET "o_CONVST" LOC = "P104";
# // NET "o_CONVST" IOSTANDARD = LVCMOS33;
# NET "o_CONVST" SLEW = SLOW;
# NET "o_CONVST" DRIVE = 4;

NET "i_AUX1" LOC = "P131";
NET "i_AUX2" LOC = "P132";

NET "o_DBG6" LOC = "P78";
NET "o_DBG5" LOC = "P81";
NET "o_DBG12" LOC = "P82";
// NET "o_DBG12" IOSTANDARD = LVCMOS33;
// NET "o_DBG12" DRIVE = 4;
NET "o_DBG13" LOC = "P80";
// NET "o_DBG13" IOSTANDARD = LVCMOS33;
// NET "o_DBG13" DRIVE = 4;
NET "o_DBG14" LOC = "P79";
// NET "o_DBG14" IOSTANDARD = LVCMOS33;
// NET "o_DBG14" DRIVE = 4;

NET "i_SW5" LOC = "P94";
NET "i_SW4" LOC = "P93";
NET "i_SW3" LOC = "P92";
NET "i_SW2" LOC = "P88";
NET "i_SW1" LOC = "P87";


NET "o_MCP_nCS" LOC = "P16";
NET "o_MCP_MCLK" LOC = "P15";
# NET "o_MCP_nIRQ" LOC = "P17";
NET "o_MCP_SCK" LOC = "P21";
NET "o_MCP_SDI" LOC = "P22";
NET "i_MCP_SDO1" LOC = "P23";
NET "i_MCP_SDO2" LOC = "P24";
NET "i_MCP_SDO3" LOC = "P26";
NET "i_MCP_SDO4" LOC = "P27";
# --- OV5640 camera (3 DVP data bits wired: D3/D6/D7) ---
NET "i_CAM_D3"    LOC = "P29";
NET "i_CAM_PCLK"  LOC = "P30";
NET "i_CAM_PCLK" CLOCK_DEDICATED_ROUTE = FALSE;
NET "i_CAM_D6"    LOC = "P32";
NET "o_CAM_XCLK"  LOC = "P33";
NET "i_CAM_D7"    LOC = "P34";
NET "i_CAM_HREF"  LOC = "P35";
NET "i_CAM_VSYNC" LOC = "P66";
NET "o_CAM_SIOC"  LOC = "P51";
NET "o_CAM_SIOD"  LOC = "P50";
# NET "o_MCP_nIRQ3" LOC = "P48";
# NET "o_MCP_nIRQ2" LOC = "P47";